@import "../sass/variables.scss";

.competition__title {
  @include bg-image-mobile;
  min-width: 320px;
  min-height: 220px;
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.competition__intro {
  font-size: 14px;
  line-height: 30px;
  color: $midnight-blue;
}
