@import "../sass/variables.scss";

.filter-setup {
  @media (min-width: $tablet-width) {
    flex-basis: 275px;
    box-sizing: border-box;
  }
}

.filter-setup__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.filter-setup__option {
  display: flex;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.filter-setup__item {
  background-color: transparent;
  outline: none;
  border: none;

  margin-right: 35px;
  box-sizing: border-box;
}

.filter-setup__item svg {
  fill: #b5b9be;
}

.filter-setup__item--crop {
  width: 44px;
  height: 44px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.filter-setup__item--crop svg {
  fill: $pink;
}

.filter-setup__item--fill {
  width: 48px;
  height: 43px;
}

.filter-setup__item--contrast {
  width: 32px;
  height: 32px;
}

.filter-setup__range {
  position: relative;
  
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

// .filter-setup__results
