@import "../sass/variables.scss";

.img-container {
  @include bg-image-desktop;
  background-position: center;
  background-color: $light-gray;
  min-width: 320px;
  min-height: 462px;

  margin: 0;
}
