@import "../sass/variables.scss";

.user-post {
  margin-left: 20px;
  margin-right: 20px;
}

// .user-post__image

.user-post__container {
  background-color: $gray;
}

.user-post__comment {
  margin: 0;
}

.user-post__time {
  color: $midnight-blue;
  font-size: 12px;
  text-transform: uppercase;
}

// .user-post__likes
