@import "../sass/variables.scss";

.user-contacts {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.user-contacts__item {
  margin: 0;
  margin-bottom: 29px;
}

// .user-contacts__fill

.user-contacts__label {
  @include form-label;
  // display: block;
  // color: $pink;
}
