@import "../sass/variables.scss";
// .user-emotions
.user-emotions__fill {
  width: 276px;
  min-height: 197px;
  margin-top: 22px;
  resize: none;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
  }
}
