@import "../sass/variables.scss";

.user-photo {
  @include list-style;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .user-photo {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    row-gap: 54px;
  }
}
