@import "../sass/variables.scss";

// .user-post {
//   margin-left: 20px;
//   margin-right: 20px;
// }

.user-post__image {
  margin: 0;
}

.user-post__container {
  background-color: $gray;
  min-width: 280px;

  padding-top: 25px;
  padding-left: 17px;
  padding-bottom: 25px;

  margin: 0;
  margin-top: -7px;
  margin-bottom: 20px;

  box-sizing: border-box;
}

.user-post__comment {
  margin: 0;
}

.user-post__time {
  color: $midnight-blue;
  font-size: 12px;
  text-transform: uppercase;
}

// .user-post__likes

@media (min-width: $tablet-width) {
  .user-post__image img {
    max-width: 300px;
    max-height: 300px;

    object-fit: cover;
  }

  .user-post__image--highlight img {
    max-width: 100%;
    height: auto;
    object-fit: none;
  }
}
