// Variables

// Colors
$header-transparent-color: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$black: #000000;
$dark-blue: #1d2631;
$midnight-blue: #283645;
$gray: #f2f2f2;
$light-gray: #e5e5e5;
$pink: #d22856;
$green: #2aab6d;
$dark-green: #1c9b5e;
$transparent-white: rgb(255, 255, 255, 0.3);

// Mixins

@mixin font-type {
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin visually-hidden {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin list-style {
  padding: 0;
  list-style: none;
}

@mixin bg-image-mobile {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@mixin form-input {
  width: 276px;
  height: 59px;
  border: 2px solid $light-gray;
  border-radius: 1px;
}

@mixin form-label {
  display: block;
  color: $pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

@mixin input-placeholder {
  color: $midnight-blue;
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
}
